<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jahara</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <script src="/js/jahara.js"></script>
</head>
<body>
    <h1>CRUD Operations</h1>
</body>
</html>