<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <script src="/js/nonangular.js"></script>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
    <section class="create panel">
        <h1>Create a new Contact!</h1>
        <form name="frm_create">
            <input type="text" placeholder="Enter name of contact ... " name="name"/>
            <input type="text" placeholder="Enter contact location ... " name="location"/>
            <input type="submit" value="create"/>
        </form>
    </section>
    <section class="view panel">
        <h1>View All Contacts</h1>
        <div id="allcontacts">

        </div>
    </section>
</body>
</html>