<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>

</head>
<body>
    <section class="create panel">
        <form name="frm_create">
            <input type="text" placeholder="Enter name of contact ... " name="name"/>
            <input type="text" placeholder="Enter contact location ... " name="location"/>
            <input type="submit" value="create"/>
        </form>
    </section>
</body>
</html>